/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Gotham', Arial,Verdana,sans-serif; padding-bottom: 0; padding-top: 46px;
   margin-bottom: 270px; /* Margin bottom to match footer height */
} 

main { overflow:hidden;}

a, a:active, a:visited {color:#fff; text-decoration: none!important;}	
.blog-post {padding: 30px 0 0px 0;}
::placeholder {color: #000; opacity:  1; }
input {padding: 5px 10px; font-size:19px;}
.blog-sidebar, .blog-main {border-top: 4px solid #000; margin-top: 25px; margin-bottom: 25px;}
.blog-sidebar {padding-left: 0;}
.blog-main {padding-right: 0;}
.blog-main-full {max-width: 100%; flex: 100%;}

.btn-submit {
	text-align: center;
	border:none; 
	display:inline-block;
	cursor:pointer;
	text-transform: uppercase;
	color:#fff!important; background-color:#f6862d; text-shadow: none; font-size: 19px; font-weight:600; padding: 4px 60px;

	-webkit-transition: background 0.3s ease; 
	-moz-transition: background 0.3s ease; 
	transition: background 0.3s ease;
}

.btn-submit:hover, .btn-submit:focus { background: #000; color:#fff;}

.btn-submit-sml {padding: 4px 15px;}

.color-alt {/*color:#f6862d;*/}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
NEWSLETTER STYLES
**************************/
.blog-post-news {
    max-width: 600px;
    border: 1px solid rgba(154,157,160,0.22);
    padding: 0px 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
    -moz-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
    box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
}
.blog-post-news-header {border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 0px 0 10px 0;margin-bottom: 20px;}
.blog-post-news h1 {display:none; visibility: hidden; height:0;}
.blog-post-news-header-date {color:#f6862d; text-transform: uppercase; float:right; font-size: 14px;font-weight: 700; padding-top:15px;}

.blog-post-news-header-sub {text-align: center; font-size: 14px; text-transform: uppercase;}

.blog-post-news h2 {padding-bottom: 0px!important}
.blog-post-news h3 {padding-bottom: 0px!important; font-weight: 600!important; font-size:14px!important; margin-bottom: 0!important;}

.blog-post-news img {max-width: 100%!important; height:auto!important;}
.blog-post-news blockquote p {border:none!important; padding-left:0!important; margin:0!important;}

/**************************
PANEL STYLES
**************************/
.panelNav {max-width:1600px; margin:auto; /*border:1px solid #000; */ width: 100%; z-index: 1000; position: relative;}
.blog-masthead {max-width:1600px; margin:auto; /*border:1px solid #000; */ width: 100%;}
.blog-masthead .container {padding: 0 30px;}

#divIndex {position:relative; z-index: 1000;}

/**************************
GENERAL STYLES
**************************/
.container { color:#000; font-size: 18px; font-weight:500; line-height: 150%; padding: 0; /*max-width: 1400px; */ z-index: 1000;  width: 100%; max-width: 100%;}
.marketing {position: relative; top: -20px; margin-bottom: -20px;}
.container .blog-post blockquote p {color:#000; font-size: 17px; font-weight: 700; padding: 0; border-left: 2px solid #000; margin: 30px 0px; padding-left: 30px; }  

.container .blog-post a, a:active, a:visited{ text-decoration: none; color:#f6862d; border:none; border-radius: unset!important; /*text-transform: uppercase; */ font-size: 14px; font-weight: 600;}
.container .blog-post a:hover{ color: #fff; color: #000; text-decoration: none;}

.container .blog-post .news-link, .news-link:active, .news-link:visited{ text-decoration: none; color:#000; border:none; border-radius: unset!important; /*text-transform: uppercase; */ font-size: 14px; font-weight: 400;}
.container .blog-post .news-link:hover{ color: #f6862d; text-decoration: none;}

.container .blog-post img { -ms-interpolation-mode: bicubic; border: none; }
.container .blog-post a img { border: none;}

.container .blog-post p {font-size: 14px; line-height: 150%;}
.container .blog-post h1 {font-size:25px; color:#000; font-weight: 700; padding-bottom: 10px;}
.container .blog-post h2 { color: #000; font-weight: 700; font-size: 20px; line-height: 110%; padding: 5px 0 5px 0; /*text-transform:uppercase; */}
.container .blog-post h3 { color: #000; font-weight: 500; font-size: 20px; line-height: 110%; padding: 10px 0 10px 0; }
.container .blog-post h4 { color: #000; font-size:18px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700; /*text-transform:uppercase;*/}
.container .blog-post h5 { color: #000000; font-weight: 700; font-size: 18px; line-height: 110%; padding: 15px 0 5px 0; }
.container .blog-post hr { border-top: 1px solid #000;}

.container .blog-post ul { font-size:18px; line-height: 150%; 
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0 10px 10px;}

.container .blog-post li { color:#000; padding-left: 15px; margin-bottom: 3px;font-size: 14px; list-style-type: disc;}

.div-affillations img {width:100%;}

/**************************
NAVBAR - LOGO
**************************/
.navbar {background: #fff!important; height:100px;}
.navbar-nav .nav-link {font-size:17px; color:#000!important; font-weight: 500; text-transform: inherit!important; background-color: none!important;}
.navbar-nav .nav-link:hover {color:#f6862d!important;}
.navbar-nav .active {color:#f6862d!important;}
.navbar-expand-lg .navbar-nav .nav-link {padding-left: 44px; padding-right:44px; font-weight: 600; height: 46px;}
.navbar-expand-lg .dropdown-menu {}
.navbar-expand-lg .dropdown-menu ul {margin-left:0px;}
.btco-hover-menu .collapse ul > li:hover > a{color:#f6862d;}
.btco-hover-menu a, .navbar > li > a {padding: 10px 0px;}
	
.navbar-nav .dropdown-item {background: #fff; color:#000; font-size:21px; font-weight: 600;}
.navbar-nav .dropdown-menu .dropdown-item {font-size:16px;}
.navbar-nav .dropdown-item:hover {color:#f6862d!important;}

.mr-auto, .mx-auto {margin-left: auto !important;margin-right:inherit!important;}

.navbar-logo {padding: 0; float: left;}
.navbar-logo img {padding: 4.5px 0;}
.navbar-logo a:hover {background:none;}
.navbar-contacts a:hover {background:none;}

.dropdown-menu {margin-left: 35px; }
.nav-item > ul {border-bottom: 4px solid #000; margin-bottom: 5px;}
.navbar-light .navbar-toggler {color:#000!important; border:none!important; padding-top: 10px;}
.btco-hover-menu .collapse ul ul.dropdown-menu, .btco-hover-menu .collapse ul ul ul.dropdown-menu {background: #fff;}
.btco-hover-menu .collapse ul ul li {padding-left: 10px; padding-right: 10px;}
	
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(246,134,45,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button:focus {outline: none;}

/**************************
HEADER PANEL
**************************/
.header-logo {position: fixed; z-index: 2; margin-left:50px; margin-top:30px; }
.header-logo-img {width: 100%;}
.header-logo-img-smaller { 
	position: relative;
	transform-origin: top left;
	transition: all 1s ease-in-out;	
	transform: scale(0.35);	
}
.header-logo-img-larger {
	position: relative;
	transform-origin: top left;
	transition: all 1s ease-in-out;	
	transform: scale(1);	
}

.header {margin-bottom: 0;}
  
/**************************
HOME PAGE - SLIDER
**************************/
.carousel {margin-bottom: 0; position: relative; top: 55px;}
.carousel-item {/*height:707px;*/ /*height:800px;*/ height: 1155px; overflow: hidden; }
.carousel-item > img {/*height: 707px;*/ height:800px; right:0!important; left:auto!important; z-index: 10; position: relative;}	
.carousel-item h1 {font-size:76px; font-weight: 700; color:#000;}
.carousel-caption {left: 0%!important; right: 0%!important; bottom:0;/* width: 85%; */ margin: auto; padding-bottom:0!important; bottom: 55px;}
.carousel-control-next, .carousel-control-prev {width:3%;}
#myCarousel .carousel-control-next, #myCarousel .carousel-control-prev {display:none; visibility: hidden; height:0;}

.carousel-caption-txt {background: rgb(255,255,255, 0.5); text-align: left; padding: 20px 90px;}
.carousel-caption-txt h1 {font-size: 25px;}
.carousel-caption-txt p {color:#000; font-size: 15px; text-align: left; margin-bottom: 0px;}

.inside-page {height:370px;}
.1inside-page .carousel-item > img {height: 300px}
.1inside-page .carousel-item {height: 300px!important;}
#myCarousel-mobile  {display:hidden; visibility: hidden; height:0;}
.carousel-item-mobile {height:auto;}

.carousel-inner {overflow:inherit;  /*max-height: 800px;*/ /* overflow: hidden;*/}
.inside-page {/*overflow:inherit; */ max-height: 300px; overflow: hidden; margin-bottom: 55px;}

.carousel .item {  
    width:100%;
    height:auto;
}
.carousel-item > img {
  /*position: absolute; OLD+WHY?*/
  /*top: 0; OLD+WHY?*/
  /*left: 0; OLD+WHY?*/

  min-width:100%;
  height:auto;
}

/**************************
HOME PAGE - SLIDER - MOBILE
**************************/
.panelLinks {width:100%; background: #fff; text-align: center; margin:auto;}
.home-links {width: 90%; background: #fff; padding: 10px 0; text-align: center; margin: auto;}
.home-links-img {padding: 10px 0;}
.home-links h2 {color:#fff;}
.home-links p {color:#fff;}
.home-links .cycle-slide {width:auto!important;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts {color: #000; text-decoration: none; padding:0 5px;font-size:22px!important; font-weight: 600; position: relative; top:-3px; padding-right: 0;}
.navbar-contacts a:hover {color: #f6862d;}
.navbar-contacts a i {font-size:22px;}

/**************************
HOME PAGE
**************************/
.featurette {width:100%; margin: 0px auto 0px auto;}

#introWrapper { width: 100%; padding: 0px; margin: 0 auto; clear: both; background: #fff;  overflow: hidden; padding: 0px 50px; }
#intro {display: -ms-flex; padding: 20px 0; border-bottom: 4px solid #000;
display: -webkit-flex;
display: flex;
/*display: -webkit-box; *//* safari, ipad */  
display: -ms-flexbox;
flex-direction: row;
-webkit-flex-direction: row; 
overflow:hidden;}

.introPanelOne { width: 40%; box-sizing: border-box;overflow: hidden; }	
.introPanelTwo { width: 60%;  box-sizing: border-box;}	

.introPanelOne img {height:100%; /*height:100%;*/ float: right;}

.introPanelTwo-txt {/*width: 85%;*/ padding-right: 50px;}

.introPanelTwo-txt h1 {color:#000; font-weight: 600; font-size: 40px; text-align: left; margin-bottom: 10px;} 
.introPanelTwo-txt strong {/*color:#f6862d;*/ font-weight: 600;}
.introPanelTwo-txt h2 {color:#000; font-weight: 600; font-size: 25px; text-align: left; margin-bottom: 0px; color:#f6862d;} 
.introPanelTwo-txt p {color:#000; font-size: 14px; line-height: 150%; width: 100%; text-align: left;}
.introPanelTwo-txt-h2 {margin-bottom: 20px;}

.intro-container #introWrapper{ padding: 0px 30px;}
.intro-container #intro{ padding: 30px 0 !important; }

/**************************
HOME PAGE - EXPERTISE PAGES PANEL
**************************/
.homePages {padding: 30px 0px; color:#000; margin:auto; border-bottom: 4px solid #000;}
.homePages .col-border {border-left: rgba(0,0,0,0.60) solid 2px; padding: 0 60px 0 30px;}
.homePages h2 {font-size: 40px; font-weight: 700; margin-bottom: 0;}
.homePages h3 {font-size: 25px; font-weight: 700; /*width: 60%;*/ margin-bottom: .5rem;}
.homePages p { line-height: 150%; font-size: 14px; }
.homePages a {color:#f6862d; font-size:16px; font-weight: 600;}
.homePages a:hover {color:#000; cursor: pointer;}

.homePages .homePages-header {/*padding-left: 20%; */ position: relative; top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.homePage-mobile-more {display:none; height:0;}
.homePage-web-more {}

/**************************
HOME PAGE - VIDEO PANEL
**************************/
.homeVideo {width: 100%;}
.homeVideoWrapper { width: 100%; padding: 0px; margin: 0 auto; clear: both; background: #fff;  overflow: hidden; padding: 0px 50px; }
.homeVideo img {width:100%;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #fff; padding: 20px; text-align: center; margin-top: 10px; padding: 0px 50px;position: relative; margin-top: 75px;}
.home-projects-row {border-bottom: 4px solid #000; padding-bottom:30px;}
.home-projects-row-no-border {border:none!important;}

.home-projects .container .row {padding-bottom: 100px;}
.home-projects h2 {color:#000; font-size:40px; font-weight: 700;}
.home-projects h3 {color:#000; font-size:25px; font-weight: 700;margin-bottom: .5rem;}
.home-projects p {color:#000; font-size:15px;line-height: 150%}
.home-projects .col-border {border-left: rgba(0,0,0,0.60) solid 2px;}
.home-projects .col-lg {padding: 0 7%;}

.home-projects-a, .home-projects-a img,.div-img  {overflow:hidden;}
.home-projects-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.home-projects-a:hover  {color:#f6862d;  overflow:hidden; opacity:0.8;}
.home-projects-a:hover h3 {color: #fff;}
.home-projects-a:hover h4 {color: #fff; }
.home-projects-a:hover .home-projects-txt {/*background: rgba(0,0,0,1.00); padding-bottom: 2px!important;*/} 
.home-projects-a:hover .home-projects-txt-h1, .home-projects-a:hover .home-projects-txt-h2 {color:#f6862d!important;}
	
.div-img img {width:100%;}

.home-projects-txt {padding: 15px 0 0 0;}
.home-projects-txt-h1 {color:#000; font-size: 14px; font-weight: 600; text-align: left;line-height: 150%;}
.home-projects-txt-h2 {color:#000; font-size: 14px; text-align: left;line-height: 150%;}

.old-home-projects-txt {
    position: relative;
    top: -25px;
    margin-bottom: -25px;
    background: rgba(0,0,0,0.80);    
    z-index: 10000;
}

.home-project-a-0 {padding-right: 10px;}
.home-project-a-1 {padding-left: 10px;}
.home-project-a-2 {padding-left: 10px;}

.page-item.active .page-link { background: #f6862d; border-color: #f6862d;}
.page-link, .page-link:active, .page-link:visited {color: #f6862d; border:none!important;}
.page-link:hover {color: #000!important;}
.page-link:focus {outline: none!important; box-shadow: none!important;}

.projects-more {
    color: #f6862d;
    font-size: 14px!important;
    font-weight: 600;
}
.projects-more:hover {color:#000; cursor: pointer;}

/**************************
HOME PAGE - TESTIMONIALS PANEL
**************************/
.1home-testimonialsWrapper {width:100%; background:#000; height: 100px;}
.1home-testimonials {width: 85%; background: #fff; padding: 0 20px 10px 20px; text-align: center; margin:auto; position: relative; top: -180px; margin-top: 180px;
}
.1home-testimonials h2 {color:#000; font-size:49px; font-weight: 700;}
.1home-testimonials h3 {color:#000; font-size:27px; font-weight: 700;}
.1home-testimonials p {color:#000; font-size:15px;}
.1home-testimonials .col-lg {width: 50%; padding: 0 7%;}
.1home-testimonials a:hover {cursor: pointer;}
.1home-testimonials a:hover > h3 {color:#f6862d!important;}
.1home-testimonials a:hover > p {color:rgba(0,0,0,0.60);}
.1home-testimonials .row-testimonial {width:80%; margin: auto; color:#000; font-size: 15px;}

.home-testimonialsWrapper {width:100%; background:#fff;}
.home-testimonials {width: 100%; background: #fff; padding: 0 50px; text-align: center; margin:auto; position: relative;  z-index:1;}
.home-testimonials h2 {color:#000; font-size:49px; font-weight: 700;}
.home-testimonials h3 {color:#000; font-size:27px; font-weight: 700;}
.home-testimonials p {color:#000; font-size:15px;}
.home-testimonials .col-lg {width: 50%; padding: 0 7%;}
.home-testimonials a:hover {cursor: pointer;}
.home-testimonials a:hover > h3 {color:#f6862d!important;}
.home-testimonials a:hover > p {color:rgba(0,0,0,0.60);}
.home-testimonials .row-testimonial {width:80%; margin: auto; color:#000; font-size: 15px;}
.home-testimonials .container {margin-top: 10px; margin-bottom: 10px;}
.home-testimonials-background {height:100px; background:#000; position: relative; top:-100px; margin-bottom: -100px; z-index:0;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #000; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color:#f6862d;}
.offset-sm-1 {margin-left: 3%;}
.col-sm-8 {padding:0!important;}
/* Sub Menu */
.navsidebar-sub {padding-left:15px;}

.sidebar-module { text-align: left; padding-top:30px; /*margin-right: 40px; */}
.sidebar-module h4 {color:#000; font-size: 16px; font-weight: 700; text-align: left; padding-bottom: 0px; margin-bottom: 0px;}
.sidebar-module li {text-align: left; padding-bottom: 10px; padding-top: 10px;}
.sidebar-module a {color:#000; font-size: 14px!important; background: none!important; text-transform: inherit!important; font-weight: 500!important;}
.sidebar-module a:hover {color:#f6862d;}
.sidebar-module select {width:100%; margin-top:15px;}

.sidebar-module ol ol li {text-align: left; padding-bottom: 0px; padding-top: 0px;}

.navsidebar-sub-sub li {border:none!important; padding:0;}
.navsidebar-sub-sub li a {font-size: 14px;}
	
.dropdown-item {padding: 0rem 1.5rem;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #000000;
  text-align: left;
}

.footerContactsWrapper {width:100%; font-size: 22px; color:#fff; font-weight: 300; height:220px; background: #000; padding: .5rem 1rem;}
.footerContacts {max-width: 1600px; margin: auto; width: 100%;font-size: 14px; padding-top: 70px;}
.footerContacts h2 {font-size: 14px; /*color:#f6862d;*/ font-weight: 600; margin-bottom: 0px;}
.footerContacts p {font-size: 14px; margin-bottom: 0px;}
.footerContacts a {color: #fff; font-size: 14px;}
.footerContacts a:hover {color:#f6862d;}
.footerContacts strong {color:#f6862d; font-weight: 700;}
.footerContacts img {width:70%;}

.footer-newsletter {}
.footer-newsletter h2 {color:#fff; text-transform: uppercase; font-weight: 600; font-size: 14px;}
.footer-newsletter input {height:36px; width:306px;}
.footer-newsletter .btn-submit {padding:0 10px; width:auto;}

.footer-newsletter-controls {width:100%;}
.footer-newsletter-input {width:45%; float:left; } 
.footer-newsletter-btn {width:10%; float:left; position: relative; top:14px; } 

.footer-newsletter-input input[type=textbox], .footer-newsletter-input input[type=email] {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ffffff;
	background: none;
    color: #ffffff;
	width: 78%;
	font-size: 14px;
    padding: 0 10px;
}

.footer-newsletter-input label {position: relative; top:10px; font-size:14px; }

.footer-newsletter-btn .btn-submit {background: #313131; color:#8a8c8b!important; font-size: 12px; padding: 2px 5px; height: auto;}
.footer-newsletter-btn .btn-submit:hover {background: #f6862d; color:#fff!important;}

#footer-social {color: #fff; width:100%; margin: 0 auto; text-align: left; font-size: 13px;}
#footer-social h2 {color:#fff; text-transform: uppercase; font-weight: 600; font-size: 14px;}
#footer-social i {font-size:25px; padding: 10px;}
#footer-social .fa-instagram, #footer-social .fa-linkedin-in {padding: 10px 12px;}
#footer-social a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 13px; line-height: 120%; font-weight: 300;}
#footer-social a:hover > i { color: #f6862d; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; text-align: center; font-size: 16px; background:#000; /*background:#f6862d;*/ height:50px;}
#footer-txt a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 14px; line-height: 120%; padding: 0 10px;}
#footer-txt a:hover{ color: #f6862d; text-decoration: none;}
#footer-txt img {padding: 0 50px;}
.footer-txt-logo {display:inline-block;}

.footerContacts .col-border {border-left: #fff solid 2px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #000 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #000!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0; background: none!important; color:#f6862d;}
#share a:hover {color:#000;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc000; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {/*border-top: 1px #000 solid;*/ margin-top: 20px; padding: 20px 0; clear: both; width:100%;}
.pagination  li {padding: 0 5px!important; font-size: 16px; list-style-type: none!important;}
.pagination  li a {background: none!important;}
.pagination  li:before {content: ''!important;}
	
	
/**************************
HELPER - BUTTONS
**************************/
.btn-more { } /* style used on button tag */
.btn-more, .btn-more a, .btn-more a:active, .btn-more a:visited {  color: #fff!important; background:#f6862d }
.btn-more:hover, .btn-more a:hover {color: #fff!important; background:#000!important;}

.btn-back {width:100%; font-size:14px!important; font-weight: 400;  padding: 10px 0 0 0;clear: both;}
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #f6862d;font-size: 14px!important; font-weight: 600;}	
.btn-back a:hover {color:#000; cursor: pointer;}

.btn-pagination {width:100%; font-size:14px!important; font-weight: 400;  padding: 10px 0 0 0;}
.btn-prev {float:left; width:50%;}
.btn-next {float:right; width:50%; text-align: right;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: auto;}
.news-list-item-img {float: right;  width: 35%;}
.news-list-item-img img { width: 100%; max-width: 100%; height: auto;}

.news-item {clear:both; padding: 10px 0px; width:100%;}
.news-item-txt {float: left;  width: 65%;  }
.news-item-img {float: right;  width: 35%; height: auto; text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

.news-newsletter {width:100%; border: #e8e8e8 1px solid;  -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; padding: 5px 10px 10px 10px; margin: 20px 0px;}
.news-newsletter h4 {color:#333366; font-size: 20px; font-weight: 500; text-align: left; border-bottom: 2px dotted #717071; padding-bottom: 10px; margin-bottom: 0px;}
.news-newsletter p {margin: 5px 0; text-align: left;}
.news-newsletter input {width:100%!important; margin-bottom: 10px; font-size: 12px;padding: 0px 5px;}
.news-newsletter button {width:100%!important; padding:4px 0;}


.panel-news-item {width: 100%; padding: 0 0 40px 0; }
.panel-news-item img {width:100%;}

.panel-news-item-category-date {color:#000; font-weight: 600;}
.panel-news-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-news-item-date {color:#f6862d; font-weight: 600; text-transform: uppercase; }
.panel-news-item-title {color:#000; font-weight: 600; margin-top: 7px; }
.panel-news-item-shortdesc {color:#000; font-weight: 300; }
.panel-news-item-shortdesc p { height: 42px; overflow: hidden;}
.panel-news-item p {margin-bottom: 0px;}

.panel-news-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-news-item a:hover > div {color:#555656!important;}

.panel-news-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 50%; padding-right: 10px; }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}
.project-list-item-txt h2 {padding-top:0!important; padding-bottom:0!important; font-size:16px!important;}
.project-list-item-txt p {line-height: 150%!important; font-size:14px!important; margin-bottom:5px!important;} 

.project-item {clear:both; padding: 0px 0px 50px 0; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 25%; padding-right: 20px;  }
.project-item-img {float: right;  width: 75%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 
.project-item-txt h1 {font-size:16px!important; padding-bottom:0!important;}
.project-item-txt p {line-height: 110%;}
.project-item .btn-back {padding-top:0;}

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block .container {margin:0!important; padding:0!important; width:100%;}


@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}

.awards-line {
    background-color: #000;
    width: 100%;
    margin: auto 0;
    display: block;
    height: 35px;
    position: relative;
    top: -35px;
	margin-bottom: -35px;
    z-index: 100;
}

#baguetteBox-overlay .full-image img {width:100%!important; height: auto!important; overflow: hidden!important;}

#carousel-projects {display: block; width: 100%; position: relative; margin-bottom: 50px; top:0;}
#carousel-projects  .carousel-item {max-height: 490px; overflow: hidden; width:100%;}

#carousel-projects .carousel-indicators {bottom: -50px!important;}
#carousel-projects .carousel-indicators li {background-color: #fff!important;}

#carousel-projects .carousel-indicators li {
  width: 13px;
  height: 13px;
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 100%; border: 2px solid #000;
  list-style-type: none;
}

#carousel-projects .carousel-indicators .active {background-color: #000!important;}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.cards-project .col-lg-5 { flex: 0 0 46.666667%; max-width: 46.666667%;}
.cards-project .col-lg-2 { flex: 0 0 6.666667%; max-width: 6.666667%;} 

.project-value {font-size:14px; line-height: 150%; padding-bottom: 10px;}
.project-value-spacer {height:.3rem;}

/**************************
TEAM MODULE
**************************/

.team-item {
    width: 100%;
    /*padding-top: 35% !important;	*/
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    margin: 0 10% 0 0%;
}

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item-img img {width:100%;}

.team-txt {padding: 15px 0 30px 0;}
.team-name-band-name {color:#000; font-weight: 600; line-height: 150%; font-size: 14px;}
.team-name-band-title {color:#000; line-height: 150%; font-size: 14px;}

.team-a, .team-a img,.div-img  {overflow:hidden;}
.team-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.team-a:hover  {overflow:hidden; opacity:0.8;}
.team-a:hover .team-name-band-name, .team-a:hover .team-name-band-title {color: #f6862d;}


/**************************
TESTIMONIALS MODULE
**************************/
.testimonials-item {clear:both; padding: 30px 0px; overflow: hidden; width:100%;}
.testimonials-item-txt {width: 100%;  }
.testimonials-item-person {width: 100%; font-size:14px;}	

/**************************
CONTACT MODULE
**************************/
.contact-details h2 {color: #f6862d; font-size: 21px; font-weight: 700;}
.contact-details strong {color: #f6862d; font-weight: 700;}
.contact-details a {font-weight: 700;}

.g-recaptcha-container{ margin-bottom: 15px; }

.fb-text-label, .fb-textarea-label {margin-bottom:0!important; font-size: 14px; font-weight: 600;}
.form-group .fb-required {padding-left:5px;}

.rendered-form .form-control {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #000;
    background: none;
    color: #000;
	border-radius: 0px!important;
	padding: 0px!important;
	height: auto!important;
}

.rendered-form .form-control:focus {box-shadow: none!important;border-radius: none!important;}

/**************************
LINKS MODULE
**************************/
.links-div .container {padding:0;}
.links-col {}
.links-col .container {padding:0;}
.links-col-border {border-right: 2px solid #000; padding-right: 40px; margin-right: 25px;}

.links-hdr {border-bottom: 2px solid #000; margin-bottom: 50px;}
.links-hdr h1, .links-hdr h2 {font-size: 25px!important; color: #000!important; font-weight: 700!important; padding: 0!important; line-height: 1.2!important;}

.links-col-3 {
	ms-flex: 0 0 24%; 
	flex: 0 0 24%; max-width: 24%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 0px;
}

.links-img { -ms-flex: 0 0 23%; flex: 0 0 23%; max-width: 23%;}
.links-img img {border:1px solid #DDDDDD; width: 95%; text-align: left; margin: auto;}

.links-img-box {border:1px solid #DDDDDD;}
.links-img-box img {border:1px solid #DDDDDD; width: 100%; text-align: left; margin: auto;}

.links-img-divider-side {border-left: 1px solid #DDDDDD; margin: 5px 0 5px 0px; width:1%; max-width: 1%;}
.links-img-divider-bottom {border-bottom: 1px solid #DDDDDD; }

/**************************
ANIMATION
**************************/
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/**************************
RESPONSIVE
**************************/
.navbar-toggler {padding: 1px 5px;position: absolute; top: 26px; right: 0;}

 
@media screen and (max-width: 480px) {	
	 .navbar {padding:10px!important;}
	 .navbar-logo {width:auto!important;}
     .navbar-logo img {width:60%!important; padding:0;}
	 .navbar-toggler { top: -5px; /*padding: 0px!important; position: relative;top: -4px!important; right: 25px;*/}
	 .container {padding: 0px;}
	 .row {margin-right: 0px; margin-left: 0px;}
     .featurette {width:100%;}
	 .navbar-contacts {padding-right:auto!important;}	
	.navbar-toggler {top:-5px!important;}
	
	.carousel {top:0;}
	.carousel-caption {display:none; visibility: hidden; height:0;}
	.carousel-item {height: 200px!important;}
	.carousel-item > img {height: 200px!important;}
	.carousel-indicators {top:180px!important;}
	.carousel-inner {overflow: hidden;}
	
	.inside-page {height:100px!important; overflow: hidden!important;}
	.inside-page .carousel-item > img {height: 100px!important;}
	.inside-page .carousel-item {height: 100px!important;}
	
	#introWrapper {padding: 0px 10px!important;}
	
	#myCarousel-mobile  {display:block; visibility: visible; height:auto;}
	.carousel-item-mobile {height: auto!important;}
	.introPanelTwo-txt h1 {font-size:30px!important;}
	.introPanelTwo-txt h2 {font-size:18px!important;}
	.introPanelOne {text-align:center;}
	.introPanelOne img {/*height:100px;*/}
	
	.homePages {padding: 10px 0px;}		
	
	.blog-post {padding: 0px 0 0px 0;}
	.blog-masthead {padding: 0 10px!important;}
    .blog-masthead .container {width:100%; max-width: 100%; margin-bottom:0;}
	.blog-masthead .container .row {padding:0px!important;}
    .container .blog-post h1 {margin-bottom: 0!important; padding-bottom: 0px!important;}
	.sidebar-module { margin-top: 0px!important;}
	
     .marketing {position: relative;top: -0px;margin-bottom: 0px;width:100%; max-width: 100%; padding: 0px;}
     #intro {display: block;}
	 #introWrapper {padding: 0px 10px!important;}
	 .introPanelOne, .introPanelTwo {width: 100%;}
	 .introPanelTwo-txt h1 {font-size:40px; padding-top:0;}
	 .introPanelTwo-txt p {width:100%;}
	
	 .homePages .col-border {border:none;}
	 .homePages h2 {font-size:30px!important;}
	 .homePages h3 {font-size:20px!important;}
	 .homePages p {padding-right:15px;}
	 .homePages .homePages-header {padding-left:20px;}
	
	 .home-projects .container {width:100%; max-width:100%; padding: 10px;}	
	 .home-projects h2 {font-size:30px!important;}	
	 .home-projects {padding: 0 10px;}
	
	 .home-testimonials {top:0!important; margin-top:0!important; width:100%;}
	 .home-testimonialsWrapper {height:auto;}
			 
	 .sidebar-module {text-align:left;}
	 .sidebar-module li {text-align:left;}
	 .sidebar-module h4 {text-align:left;}

	 .footerContactsWrapper {height:auto!important;}
     #footer-txt {margin:auto; display:block; text-align:center; padding: 0px;}
	 .footer-txt-logo {display:block; width:100%; padding:0;}
	 #footer-txt img {padding: 0!important;}
     #footer-txt a, #footer-txt a:active {font-size:20px;}
	 #footer-txt a, #footer-txt a:active {font-size: 14px;}
	 .footerContacts {padding:10px 0;}
	 .footerContacts img {width:40%;}
	 .footer-newsletter input {width:80%;}
	 #footer-social {padding:0!important;}
	 #footer-social a { padding: 0 5px!important;}
	 .footerContacts .col-border {border:none;}
	 .footerContacts .col-full {width:100%!important; flex:none; max-width: 100%; text-align: center; padding: 20px 0; border:none;}
	 #footer-txt {height:auto;}
	 .footer-newsletter-input {width:100%; text-align: center;}
	 .footer-newsletter-btn {width:100%; text-align: center;}
	
	 .homeVideoWrapper {padding:0 10px;}	
	
	 .col-lg-8, .col-sm-3 {padding-left:0!important; padding-right: 0!important;}
	 .col-12 {padding-left:0!important; padding-right:0!important;}
	 .team-item {display:block!important; flex:none!important;max-width: 100%!important;padding-left:0!important; padding-right:0!important;}
	 .team-block .col-4, .team-block .col-8 {display:block!important; flex:none!important;max-width: 100%!important;padding-left:0!important; padding-right:0!important;}	 
	 .project-block .col-sm-4 {padding-left:0!important; padding-right: 0!important;}
	
	 .blog-post-news-header img {width:30%!important;}
	 .blog-post-news-header-date {padding-top: 5px;}
	 .footer-newsletter-input input[type="textbox"] {width:100%;}
	
	.links-img {flex:none!important; max-width: inherit!important; margin: auto; border-bottom: 1px solid #DDDDDD;}
	.links-img-left-border { }
	.links-img-divider-side { border-left:none!important; width:0!important;}
	.links-col-3 {display:none;visibility: hidden; height: 0;}
}

/*@media only screen and  (max-width: 768px) {*/
@media only screen and  (max-width: 991px) {
	main { overflow:inherit; /*height:100%;*/}
	.container {margin-top:0;}
	.container .row {width: 100%; padding: 0px; }
	
	.1container .row {width: 100%; padding: 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}		
	
	.navbar {z-index:500000; height:auto; padding: 10px 0;}	
	.navbar-collapse {border-bottom: 4px solid #000; margin: 50px 0 0px 0; padding-bottom:20px;}	
	.navbar-toggler {top:0;}
	.navbar-nav {background: #fff;z-index: 50000; position: relative; }
	.navbar-nav .nav-link {font-size: 17px!important;}
	.navbar-contacts a {padding-left: 35px;}
	.navbar-logo {width:80%; padding:0;}
	.navbar-logo img { padding-left: 10px;/*width:auto!important; max-width: 100%;*/}
	.navbar-expand-lg .navbar-nav .nav-link {text-align: center;}
	
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 0px;}
	.blog-post {padding:0;}
	
	 .sidebar-module {padding-right: 0; /*margin-top: 40px;*/}
	 .sidebar-module {text-align:left; width: 100%;}
	 .sidebar-module li {text-align:left; padding:0;}
	 .sidebar-module h4 {text-align:left;}							
	
	.container .blog-post h1 {font-size: 20px;}
	.container .blog-post h2 {font-size: 16px;}
	.blog-masthead .container {width:100%; max-width: 100%; margin-bottom:0;}
	.blog-masthead {padding:0 0px 0 30px;}
	
	.carousel {top:inherit;}
	.carousel-inner {overflow: hidden;}
	.carousel-item {height: 370px;}
	.carousel-item > img {height: 370px;}
	.inside-page {height: 200px; margin-bottom: 20px;}
	.inside-page .carousel-item > img {height: 200px;}
	#myCarousel-mobile  {display:block; visibility: visible; height:auto;}
	.carousel-item-mobile {height: auto!important;}
	.carousel-caption {display:none; visibility: hidden; height:0;}
	
	.intro-container #intro {display: block; padding: 0px 0!important;}
	#introWrapper {padding:0px 10px!important;}
	.introPanelOne, .introPanelTwo {width:100%;}
	.introPanelOne {padding-top:30px; padding-bottom:30px; text-align: center;}
	.introPanelTwo-txt {position: inherit; transform: none; text-align: center; margin: auto;}
	.introPanelTwo-txt h1, .introPanelTwo-txt h2, .introPanelTwo-txt p {padding-left:0!important; text-align: center!important; margin: auto;}
	.introPanelTwo-txt h1 {padding-top: 10px; padding-bottom:0px!important; }
	.introPanelOne img {float:none;}
	.carousel-indicators {top: 280px; bottom:inherit;}
	
	.homePages {margin-bottom: 30px;}
	.homePages .homePages-header {top: 40px; padding-left:15px;}
	.homePages .col-border {padding: 20px 0px 0px 30px; border:none;}	
	
	.home-projects {}
	.home-projects .col-border {border-left:none; border-top: 1px solid #000; padding: 40px 0 0 0;}
	.home-projects .container .row {padding-bottom: 0;}
	.home-projects h2 {font-size:40px; padding-top: 10px; padding-bottom: 10px; margin-bottom: 0px;}
	.home-projects .col-border {border:none;}
	.home-project-a-0 {padding-right:0;}
	.home-project-a-1, .home-project-a-2 {padding-left: 0px;}
	.home-projects-row .col-lg-6 {padding-left:0; padding-right:0;}
	.home-projects-row .col-lg-4 {padding: 10px 0;}
	.home-projects-row .row {margin-left:0; margin-right:0;}
	
	.home-testimonials {/*top: -330px;*/}
	.home-testimonials .row-testimonial {width:90%;}
	.home-testimonials .container {width: 95%;max-width: 95%;margin-bottom: 0px; padding:0;}	
	.home-testimonials h2 {font-size:35px; padding-bottom: 0px; margin-bottom: 0px;}
	.home-testimonials .container {padding-top:0;}	
	
	.project-list-item { width: 100%; padding: 10px 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}
	.project-list-item-txt {width:100%; float:none; display: block; -webkit-order: 2; order: 2;flex: auto;}
	.project-list-item-img {width:100%; float:none; display: block; -webkit-order: 1; order: 1;flex: auto;}
	
	.project-item { width: 100%; padding: 10px 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}
	.project-item-txt {width:100%; float:none; display: block; -webkit-order: 1; order: 1;flex: auto;}
	.project-item-img {width:100%; float:none; display: block; -webkit-order: 2; order: 2;flex: auto;}
	.panel-news-item {padding: 20px 0px!important;}	

	.news-list-item { width: 100%; padding: 10px 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}
	.news-list-item-txt {width:100%; float:none; display: block; -webkit-order: 2; order: 2;flex: auto;}
	.news-list-item-img {width:100%; float:none; display: block; -webkit-order: 1; order: 1;flex: auto;}
	
	.news-item { width: 100%; padding: 10px 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}
	.news-item-txt {width:100%; float:none; display: block; -webkit-order: 1; order: 1;flex: auto;}
	.news-item-img {width:100%; float:none; display: block; -webkit-order: 2; order: 2;flex: auto;}
	
	 .footerContactsWrapper {height:auto!important;}
     #footer-txt {margin:auto; display:block; text-align:center; padding: 0px;}
	 .footer-txt-logo {display:block; width:100%; padding:0;}
	 #footer-txt img {padding: 0!important;}
     #footer-txt a, #footer-txt a:active {font-size:20px;}
	 #footer-txt a, #footer-txt a:active {font-size: 14px;}
	 .footerContacts {padding:10px 0;}
	 .footerContacts img {width:40%;}
	 .footer-newsletter input {width:80%;}
	 #footer-social {padding:0!important; text-align: center;}
	 #footer-social a { padding: 0 5px!important;}
	 .footerContacts .col-border {border:none;}
	 .footerContacts .col-full {width:100%!important; flex:none; max-width: 100%; text-align: center; padding: 20px 0; border:none;}
	 #footer-txt {height:auto;}
	 .footer-newsletter-input {width:100%; text-align: center;}
	 .footer-newsletter-btn {width:100%; text-align: center;}
	
	.homePage-mobile-more {display:block; height:auto;}
	.homePage-web-more {display:none; height:0;}
		
	.container .blog-post img {width:100%; height:auto!important;}	
	
    .blog-masthead .container {padding: 0px;}
	
	.div-affillations {width:100%!important; float:none!important; margin-right: 0!important;}
	
	.team-item {-ms-flex: 0 0 33%;flex: 0 0 33%;max-width: 33%; margin: 0}
	
	.footer-newsletter-input input[type="textbox"] {width:50%;}
	
	.introPanelTwo-txt {padding-right: 0px;}
	
	.links-div {width: 95%; margin: auto;}
	.links-col-border {border:none!important; margin:0!important;}
	.links-hdr2 {padding-top: 50px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
	.homePages h2 {font-size: 35px;}
	.home-projects h2 {font-size: 35px;}
	.home-testimonials h2 {font-size: 35px;}
	.introPanelTwo-txt h1 {font-size: 35px; margin-bottom: 10px; }
	.homePages h3 {font-size:20px;}
	
	.homePages .col-border {border:none;}
	
	.footerContactsWrapper {height: auto;}
	.footerContacts .col-full {width:100%!important; flex:none; max-width: 100%; text-align: center; padding: 20px 0; border:none;}

	.navbar-toggler {top:5px;}
    .carousel-inner {overflow: hidden;}
	#myCarousel-mobile  {display:block; visibility: visible; height:auto;}
	.carousel-item-mobile {height: auto!important;}
	.carousel-caption {display:none; visibility: hidden; height:0;}
	.carousel {top: inherit;}
	
	.blog-post-news-header img {width:30%!important;}
	.blog-post-news-header-date {padding-top: 10px;}
	
	.footer-newsletter-input input[type=textbox], .footer-newsletter-input input[type=email] {width: auto!important;}
	.footerContacts img {width:20%;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
    .navbar-expand-lg .navbar-nav .nav-link {padding-left: 12px; padding-right: 12px;}	
	.navbar-nav .nav-link {font-size: 15px;}
	.navbar-nav .dropdown-menu .dropdown-item {font-size: 15px;}	
	.nav-item > ul { margin-left: 0px!important;}
	.navbar-contacts { font-size: 22px!important; top: -5px;}
	
	.header-logo img {width:70%;}
	
	.carousel-caption h1 {font-size:40px;}
	.carousel-item > img {/*height:300px;*/}
	.carousel-caption {top:300px;}
	
	.container {/*padding:20px 10px;*/}
	.container .blog-post h1 {font-size: 30px;}
	
	.sidebar-module {padding-right:15px!important;}		
	
	.marketing {position: relative; top: 0px; margin-bottom: 0px;}
	#intro {display:block; width:100%;}
	.introPanelOne {width:100%; text-align:left;}
	.introPanelOne img {width:100%;}
	.introPanelTwo {width:100%;}
	.introPanelTwo-txt {position: inherit; transform: none;}
	.introPanelTwo-txt p {width:100%;}
	#intro p, #intro h1 {padding-left:0; text-align:left;}	
	.intro-container #intro {padding:0!important;}
	
	.homePages .homePages-header {		
		position: relative;
		top: 50px;
		
	}
	.homePages .col-border {padding: 0 15px 0 10px;}
	.homePages h2 {font-size:40px;}
	
	.home-projects .container {margin-top:0; padding-top:0;}
	.home-projects .container .row {padding-bottom:30px;}		
	.home-projects {margin-top:10px;}
	
	.footerContactsWrapper {height:auto!important;}
     #footer-txt {margin:auto; display:block; text-align:center; padding: 0px;}
	 .footer-txt-logo {display:block; width:100%; padding:0;}
	 #footer-txt img {padding: 0!important;}
     #footer-txt a, #footer-txt a:active {font-size:20px;}
	 #footer-txt a, #footer-txt a:active {font-size: 14px;}
	 .footerContacts {padding:10px 0;}
	 .footerContacts img {width:20%;}
	 .footer-newsletter input {width:80%;}
	 #footer-social {padding:0!important; text-align: center;}
	 #footer-social a { padding: 0 5px!important;}
	 .footerContacts .col-border {border:none;}
	 .footerContacts .col-full {width:100%!important; flex:none; max-width: 100%; text-align: center; padding: 20px 0; border:none;}
	 #footer-txt {height:auto;}
	 .footer-newsletter-input {width:100%; text-align: center;}
	 .footer-newsletter-btn {width:100%; text-align: center;}
	
	.navbar {height:70px;}
	.carousel {top: inherit;}
	.carousel-item {height: 370px;}
	.carousel-item > img {height: 370px;}
	.navbar-expand-lg .navbar-nav {padding-top: 7px;}
	.footer-newsletter-input input[type=textbox], .footer-newsletter-input input[type=email] {width:auto;}
	
	.project-item { width: 100%; padding: 10px 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        /*display: -webkit-box; safari, ipad */ 
        display: -ms-flexbox;}
	.project-item-txt {width:100%; float:none; display: block; -webkit-order: 1; order: 1;flex: auto;}
	.project-item-img {width:100%; float:none; display: block; -webkit-order: 2; order: 2;flex: auto;}
}

@media only screen and (max-width: 568px)and (orientation:landscape) {
	/* For iphone 5  landscape layouts only */
	.homePages .col-border {border:none;}
}

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1900px) {	
}

@media only screen and (min-device-width: 769px) and (max-width: 1850px) {		
}

@media only screen and (min-device-width: 769px) and (max-width: 1800px) {		
}

@media only screen and (min-device-width: 769px) and (max-width: 1700px) {		
	
	
}

@media only screen and (min-device-width: 769px) and (max-width: 1650px) {			
	.header-logo img {width: 80%;}
	.team-name-band {height:110px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1550px) {		
	.navbar-nav .nav-link {font-size: 17px;}
	.navbar-nav .dropdown-menu .dropdown-item {font-size: 16px;}
	.nav-item > ul { margin-left: 5px!important;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 22px; padding-right: 22px;}
	
	.navbar-contacts {font-size: 20px; }
	.navbar-contacts i {font-size: 17px!important;}
	
	.navbar-logo {width:30%;}
	.navbar-logo img {/*width:60%;*/}
	
	.home-testimonials .container {padding-bottom:5px; margin-bottom: 0!important;}
	.row-testimonial {padding-bottom:0px!important;}
	
	.footer-newsletter input {width:auto;}	
	#footer-social h2 {font-size: 12px;}
	.footer-newsletter h2 {font-size: 12px;}
	.footerContacts h2 {font-size: 12px;}
	.footerContacts, .footerContacts p {font-size: 12px;}
	.footerContacts a {font-size: 12px;}
	.footer-newsletter-input label {font-size: 12px;}
	#footer-social .fa-instagram, #footer-social .fa-linkedin-in {padding: 10px 6px;}	
}

@media only screen and (min-device-width: 769px) and (max-width: 1300px) {		
	.header-logo {width: 60%;}	
	
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 12px; padding-right: 12px;}
	.navbar-nav .nav-link {font-size: 14px;}
	.navbar-contacts {font-size: 16px!important;}
	
	.footerContactsWrapper {height:auto;}
	.footerContacts .col-full {width:100%!important; flex:none; max-width: 100%; text-align: center; padding: 20px 0; border:none;}
	#footer-social {text-align: center;}
	.footerContacts img { width: 200px;}
	.footer-newsletter {text-align: center; margin:auto;}	
}

@media only screen and (min-device-width: 769px) and (max-width: 1100px) {		
	.header-logo {width: 60%;}
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
   
    /* Safari 5+ ONLY */    
	::i-block-chrome, #nav { }	
}

/*Bootstrap media queries*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .team-item {width: 100%;/*padding-top: 125% !important;*/}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .team-item {width: 100%;/*padding-top: 60% !important;*/}
    .team-name-band{ font-size: 14px !important; height:110px!important; }
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .team-item {width: 100%;/*padding-top: 70% !important;*/}
    .team-name-band{ font-size: 14px !important; height:80px!important; }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .team-item {width: 100%;/*padding-top: 35% !important;*/}
    .team-name-band{ font-size: 14px !important; }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .team-item {width: 100%;/*padding-top: 35% !important;*/}
}